language: node_js
node_js:
    - "10"
    - "8"
install:
    - yarn install
before_script:
    - docker pull kodebox/codechain:360c1404bc95b2ca6c55d26d6ae4ef832b91ad5d
    - docker run -d -p 8080:8080 kodebox/codechain:360c1404bc95b2ca6c55d26d6ae4ef832b91ad5d --jsonrpc-interface 0.0.0.0 -c solo --reseal-min-period 0 --enable-devel-api
    - docker ps -a
script:
    - yarn lint
    - yarn build
    - yarn test
notifications:
    webhooks: https://webhooks.gitter.im/e/8908c378a5e2669893ab
services:
    - docker
cache: yarn
